body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    font-size: 13px;
}

#sidebar.p-tree {
    all: unset;
}

#sidebar .p-treenode {
    min-width: max-content;
}

#sidebar .p-treenode-label {
    width: 100%;
}

#sidebar .item-torrent-size {
    display: block;
    float:right;
    padding-right:2px;
}

#torrent-list .p-datatable-wrapper {
    width: max-content;
}

#torrent-list .p-paginator {
    width: max-content;
}
